html{
  background: #00000070;
}

.App {
  text-align: center;
  font-family: Andada Pro;
}

.Panel {
  width: 320px;
  height: 568px;
  margin-left: 500px;
  margin-right: 500px;
  margin-top: 30px;
  border-radius: 25px;
  background-color: #9de9e9;
}

